.jumbotron {
    background-color: yellow;
}

footer {
    background-color: tomato;
    margin-top: 10px;
    padding: 10px 10px 0px 10px;
}

.card-hotel {
    flex: 1 150px;
    padding: 8px 8px 8px 8px;
    margin-top: 15px;
}

.btn-reserva {
    width: 80%;
    
}